{% extends 'base.html' %}

{% block head %}
<title>Current quotes</title>
{% endblock %}

{% block body %}
<div class="content">
    <h1 style="text-align: center">Current quotes</h1>
    
        

    <div class ="quotes" style="text-align: center">
        <button onclick="window.location.href = '/';">Homepage</button>
        <br><br>
        <button onclick="window.location.href = '/addquote';">Add quote</button>
        
    </div>

    <div class="quotelist" style="text-align: center;">
        {% for item in data %}
        <p> {{ item }} </p>
        {% endfor %}
    </div>
</div>

{% endblock %}