{% extends 'base.html' %}

{% block head %}
<title>Discord Bot</title>
{% endblock %}

{% block body %}
<div class="content">
    <h1 style="text-align: center">Home Page</h1>
    
        

    <div class ="quotes" style="text-align: center">
        <button style="text-align: center" onclick="window.location.href = '/addquote';">Add quote</button>
        <br><br><br>
        <button style="text-align: center" onclick="window.location.href = '/quotes';">See current quotes</button>
    </div>
</div>

{% endblock %}